<div class="container-fluid home-page">
    <navbar></navbar>
    <div class="row operations justify-content-center">
        <div class="col-3 w-auto">
            <h2 class="my-4">Hey {{ userName }}!</h2>
            <div class="book-ride-container d-flex justify-content-center align-items-center" routerLink="book">
                <p>Book a ride</p>
            </div>
        </div>
        <div class="col-3 w-auto">
            <h2 class="invisible my-4">Hey {{ userName }}!</h2>
            <div class="offer-ride-container d-flex justify-content-center align-items-center" routerLink="offer">
                <p>Offer a ride</p>
            </div>
        </div>
    </div>
</div>