@import "../../../../assets/variable/variable.scss";
#logo
{
    cursor: pointer;
}

.user-menu
{
    cursor: pointer;
}
#profileImg
{
    width: 3rem;
    border-radius: 50%;
    height: 3rem;
}
    .dropdown
    {
        width: 130px;
        height: 120px;
        background-color: white;
        box-shadow: 0 0 4px grey;
        right: 1rem;
        top: 3.3rem;
    
        a
        {
            border:0.01px solid grey;
            color: $cardsubheadingcolor;
            text-decoration: none;
            font-family: 'OpenSansSemiBold';
            font-size: 0.9rem;
        }
    }